* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#main-section {
    margin: 32px;
    padding: 32px;
}

#main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

#title-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#main-logs-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#logs-box {
    display: flex;
    justify-content: center;
    gap: 16px;
    min-height: 500px;
}

#bullet-main-box {
   display: flex;
}

#logs-date-box, #logs-details-box, #bullet-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#divider {
    width: 2px;
    background-color: #1b1a1a;
    height: 100%;
    position: relative;
    left: -50%;
}

#btn-logs {
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    background-color: #333333;
    color: white;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: #1b1a1a;
    border-radius: 100%;
}

.body-gray {
    color: #a6a8aa;
}

p {
    font-size: 14px;
}

h1 {
    font-weight: 500;
}

