* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-section {
    margin: 32px;
    border: 3px solid #333333;
    border-radius: 4px;
    padding: 52px ;
}

#divider {
    width: 100%;
    height: 2.5px;
    background-color: #333333;
    margin-bottom: 14px;
}

#socials a {
    display: block;
    color: blue;
}

.cv-section {
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.section-title {
    color: rgb(18, 178, 18);
}

.experience-title {
    margin-bottom: 8px;
}

.experience-skills {
    margin-top: 8px;
}

#location-contact {
    list-style-type: none;
    padding: 0;
}

h1 {
    font-weight: 500;
}

h5 {
    font-weight: 500;
    font-size: 14px;
}

h4 {
    font-weight: 500;
    font-size: 16px;
    color: rgb(56, 153, 251);
}

ul {
    padding-left: 16px;
}

