* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

.card-profile-box {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
}

.card-avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.card-name {
    margin-bottom: 2px;
    font-weight: 500;
}

.card-position {
    font-weight: 500;
}

.material-icons {
    color: rgb(255, 200, 0);
}

.card4-avatar-inactive {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    background-blend-mode: color;
    opacity: 0.5;
}

.card4-avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.arrows {
    color: #333333;
}

#card1 {
    width: 20%;
    border: 2px solid #333333;
    border-radius: 16px;
    padding: 16px;
    margin: 18px;
}

#card2 {
    width: 20%;
    margin: 18px;
}

#card2-testimonial-box {
    background-color: #333333;
    border-radius: 16px;
    padding: 16px;
    height: 30%;
    position: relative;
}

#card2-testimonial-box::before {
    content: "";
    position: absolute;
    top: 100%;
    bottom: 100%;
    left: 6%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: #333333 transparent transparent transparent;
}

#card2-testimonial {
    color: white;
}

#card2-profile-box {
    margin-top: 16px;
}

#card3 {
    display: flex;
    gap: 18px;
    width: 35%;
    margin: 18px;
}

#card3-avatar {
    width: 35%;
    border-radius: 16px;
}

#card3-testimonial-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #333333;
    padding: 24px;
    border-radius: 16px;
}

#card3-rating {
    display: flex;
}

#card3-name {
    color: white;
    font-weight: 500;
}

#card3-position {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

#card3-testimonial {
    color: white;
}

#card4 {
    width: 35%;
    border: 2px solid #333333;
    border-radius: 16px;
    padding: 40px;
    margin: 18px;
}

#card4-testimonial {
    text-align: center;
    margin-bottom: 32px;
}

#card4-avatar-slide {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 50%;
    margin: auto;
}

#card4-avatar-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

#card4-name {
    font-weight: 500;
    text-align: center;
    margin-top: 16px;
}